@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, retro-dark;
};

@plugin "daisyui/theme" {
  name: "retro";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(84.133% 0.065 90.856);
  --color-base-content: oklch(41% 0.112 45.904);
  --color-primary: oklch(78% 0.130 70);
  --color-primary-content: oklch(32% 0.110 68);
  --color-secondary: oklch(80% 0.114 19.571);
  --color-secondary-content: oklch(39% 0.141 25.723);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(96% 0.059 95.617);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(40% 0.123 38.172);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "retro-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(22% 0.030 90.515);
  --color-base-200: oklch(19% 0.030 90.515);
  --color-base-300: oklch(16% 0.030 90.515);
  --color-base-content: oklch(86% 0.034 90.515);
  --color-primary: oklch(75% 0.145 72);
  --color-primary-content: oklch(20% 0.060 72);
  --color-secondary: oklch(78% 0.114 19.571);
  --color-secondary-content: oklch(18% 0.060 19.571);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(20% 0.060 75.834);
  --color-neutral: oklch(30% 0.015 73.639);
  --color-neutral-content: oklch(80% 0.010 56.366);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(96% 0.059 95.617);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(40% 0.123 38.172);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}








:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .btn:hover {
  background-color: inherit !important;
  color: inherit !important;
} */
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.interactive-mode #site-root :is(h1, h2, h3, h4, h5, h6, p, a, button, img, li, blockquote, code, pre, section, article, .card, .btn, .badge, .divider, [data-interactive-movable]) {
  cursor: grab;
  user-select: none;
}
